body {
  margin: 10px;
}
.container {
  border: 3px solid lightgray;
  position: relative;
  height: 80vh;
  margin-bottom: 3rem;
}
.box {
  width: 5rem;
  height: 5rem;
  background-color: gold;
  margin: 0.4rem;
}
.moving-box {
  background-color: aqua;
  position: absolute;
  left: 40%;
  z-index: 1;
}
.box-tl {
  left: 0;
  top: 0;
  position: absolute;
}
.box-tr {
  right: 0;
  top: 0;
  position: absolute;
  background-color: dodgerblue;
}
.box-br {
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: darkgoldenrod;
}
.box-bl {
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: tomato;
}
.btn {
  width: 3rem;
  height: 2rem;
  margin: 0.2rem;
}

.information {
  display: grid;

  border: 3px solid lightblue;
  grid-template: 90% / 30fr 30fr 40fr;
  justify-items: stretch;
  align-items: stretch;
}
.info {
  background-color: aliceblue;
}
