body {
  margin: 10px;
}
.container {
  border: 3px solid lightgray;
  position: relative;
  height: 50vh;
  width: 80vw;
  margin: 5rem;
  background-color: rgba(243, 239, 250, 0.815);
}
.box {
  width: 5rem;
  height: 5rem;
  background-color: gold;
  margin: 0.4rem;
  text-align: center;
  vertical-align: middle;
}
.moving-box {
  background-color: aqua;
  position: absolute;
}
.box-tl {
  left: 0;
  top: 0;
  position: absolute;
}
.box-tr {
  right: 0;
  top: 0;
  position: absolute;
  background-color: dodgerblue;
}
.box-br {
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: darkgoldenrod;
}
.box-bl {
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: tomato;
}
.btn {
  width: 5em;
  height: 3em;
  font-size: small;
  color: blanchedalmond;
  background-color: rgb(48, 0, 0);
  margin-left: 30%;
  margin-bottom: 1rem;
}

.information {
  border: 3px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 40vw;
  height: 5vh;
  margin: auto;
}
.info {
  width: 40%;
  margin: 1rem;
  flex-basis: 5rem;
  flex-grow: 1;
}
